body {
  margin: 0px;
  height: 100%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

section {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 5fr 2fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-areas: "head head head" "nav main main" "foot foot foot";
}

section > header {
  grid-area: head;
  /* background-color: #8ca0ff; */
  background-color: #fcec52;
}

section > nav {
  grid-area: nav;
  /* background-color: #ffa08c; */
  background-color: #cfffb3;
}

section > main {
  grid-area: main;
  /* background-color: #ffff64 */
  background-color: #e4ff1a;
}

section > footer {
  grid-area: foot;
  /* background-color: #8cffa0; */
  background-color: #19381f;

}
